<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/users/lobby"><img src="/images/poke1.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link logout-link" href="">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link login-link" href="/users/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link register-link" href="/users/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link match-history" href="/users/history">Match History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ladder" href="/ladder">Ladder</a>
      </li>
    </ul>
  </div>
</nav>

<script>
    $(document).ready(function() {
        $(".logout-link").click(function(e) {
            e.stopPropagation();
            e.preventDefault();
            $.ajax({
                url: "/users/logout",
                method: "Delete",
                success: function() {
                    window.location = "/users/login";
                }
            })
        })

        const location = window.location.pathname.split("/").reverse()[0];

        if (location === "login" || location === "register") {
            $(".logout-link").closest("li").hide();
            $(".match-history").closest("li").hide();
            $(".login-link").closest("li").show();
            $(".register-link").closest("li").show();
        } else {
            $(".logout-link").closest("li").show();
            $(".match-history").closest("li").show();
            $(".login-link").closest("li").hide();
            $(".register-link").closest("li").hide();
        }
    })
</script>
