<!--
    20171025 supercardgame basic test file.
-->

<html>
    <head>
        <title>Goofspiel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <!--          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous"> -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

        <!-- <link rel="stylesheet" href="/styles/layout.css"> -->
        <link rel="stylesheet" href="/styles/game.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

        <script type="text/javascript" src="/scripts/game.js"></script>
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    </head>

<header>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="/images/poke1.jpg">
                    <a class="navbar-brand" id="Goodfspiel" href="">Goofspiel</a>
                </div>
                <ul class="nav navbar-nav">
                    <!--  <li class="active" id="Start"><a >Start Game</a></li> -->
                    <li class="active" id="Lobby"><a class="nav-link" href="">Lobby</a></li>

                    <li class="active" id="Logout"><a class="nav-link" href="">Logout</a></li>
                    <li class="active" id="Score"><a class="nav-link">Score</a></li>

                </ul>
            </div>
        </nav>
        <nav class="buttons">
            <!-- <button type="button" class="btn btn-primary" id="Start">Start Game</button>
            <button type="button" class="btn btn-default" id="Lobby" onclick="location.href='/users/lobby'">Lobby</button>  -->
        </nav>
    </header>
    <div id="container">

    </div>

<script>
$(document).ready(function() {
    $("#Logout").click(function(e) {
        e.stopPropagation();
        e.preventDefault();

        $.ajax({
            url: "/users/logout",
            method: "Delete",
            success: function() {
                window.location = "/users/login";
            }
        })
    })

    $("#Lobby").click(function(e) {
        e.stopPropagation();
        e.preventDefault();

        window.location = "/users/lobby";
    })

    $("#Goodfspiel").click(function(e) {
        e.stopPropagation();
        e.preventDefault();

        window.location = "/users/lobby";
    })

})

$(document).ready(function() {

})
</script>
    </body>
</html>

