<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <link rel="stylesheet" href="/styles/users.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
    <main>
        <form action="/users/login?_method=PUT" id="register" method="post">
            <table border="0">
                <tbody>
                    <tr>
                        <td>
                            <label for="name">Your Handle: </label>
                        </td>
                        <td>
                            <input id="name" maxlength="45" name="handle" type="text" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="password">Password:</label>
                        </td>
                        <td>
                            <input id="password" maxlength="45" name="password" type="password" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class=".form-submit-button">
                            <input name="Submit" type="submit" value="Submit" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </main>
</body>

</html>
