
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Register</title>
        <link rel="stylesheet" href="/styles/users.css" type="text/css" />

        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    </head>

    <body>
        <div class="section group">
            <div class="col span_1_of_3">
            This is column 1
            </div>
            <div class="col span_1_of_3">
            This is column 2
            </div>
            <div class="col span_1_of_3">
            This is column 3
            </div>
        </div>
    </body>
</html>
