//colors
// $color_ocean_green_approx: #45a173;
$color_ocean_green_approx: #00a651;
$color_mine_shaft_approx: #333;
$color_lunar_green_approx: #334d41;
$white: #fff;
$color_tundora_approx: #444;
$black_15: rgba(0,0,0,0.15);
$black: #000;
$color_guardsman_red_approx: #d40000;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: Ubuntu Condensed;

//urls
$url_0: url(images/faces/back.png);
$url_1: url(images/faces/0_1.svg);
$url_2: url(images/faces/0_2.svg);
$url_3: url(images/faces/0_3.svg);
$url_4: url(images/faces/0_4.svg);
$url_5: url(images/faces/0_5.svg);
$url_6: url(images/faces/0_6.svg);
$url_7: url(images/faces/0_7.svg);
$url_8: url(images/faces/0_8.svg);
$url_9: url(images/faces/0_9.svg);
$url_10: url(images/faces/0_10.svg);
$url_11: url(images/faces/0_11.svg);
$url_12: url(images/faces/0_12.svg);
$url_13: url(images/faces/0_13.svg);
$url_14: url(images/faces/1_1.svg);
$url_15: url(images/faces/1_2.svg);
$url_16: url(images/faces/1_3.svg);
$url_17: url(images/faces/1_4.svg);
$url_18: url(images/faces/1_5.svg);
$url_19: url(images/faces/1_6.svg);
$url_20: url(images/faces/1_7.svg);
$url_21: url(images/faces/1_8.svg);
$url_22: url(images/faces/1_9.svg);
$url_23: url(images/faces/1_10.svg);
$url_24: url(images/faces/1_11.svg);
$url_25: url(images/faces/1_12.svg);
$url_26: url(images/faces/1_13.svg);
$url_27: url(images/faces/2_1.svg);
$url_28: url(images/faces/2_2.svg);
$url_29: url(images/faces/2_3.svg);
$url_30: url(images/faces/2_4.svg);
$url_31: url(images/faces/2_5.svg);
$url_32: url(images/faces/2_6.svg);
$url_33: url(images/faces/2_7.svg);
$url_34: url(images/faces/2_8.svg);
$url_35: url(images/faces/2_9.svg);
$url_36: url(images/faces/2_10.svg);
$url_37: url(images/faces/2_11.svg);
$url_38: url(images/faces/2_12.svg);
$url_39: url(images/faces/2_13.svg);
$url_40: url(images/faces/3_1.svg);
$url_41: url(images/faces/3_2.svg);
$url_42: url(images/faces/3_3.svg);
$url_43: url(images/faces/3_4.svg);
$url_44: url(images/faces/3_5.svg);
$url_45: url(images/faces/3_6.svg);
$url_46: url(images/faces/3_7.svg);
$url_47: url(images/faces/3_8.svg);
$url_48: url(images/faces/3_9.svg);
$url_49: url(images/faces/3_10.svg);
$url_50: url(images/faces/3_11.svg);
$url_51: url(images/faces/3_12.svg);
$url_52: url(images/faces/3_13.svg);
$url_53: url(images/faces/4_1.svg);
$url_54: url(images/faces/4_2.svg);
$url_55: url(images/faces/4_3.svg);

//@extend-elements
//original selectors
//.card:before, .card:after
%extend_1 {
	position: absolute;
	font-size: 0.7rem;
	text-align: center;
	line-height: 0.7rem;
	font-family: $font_2, $font_1;
	white-space: pre-line;
	width: 0.55rem;
    letter-spacing: -0.1rem;
}

//original selectors
//.card.joker.rank1:before, .card.joker.rank2:before, .card.joker.rank3:before, .card.joker.rank1:after, .card.joker.rank2:after, .card.joker.rank3:after
// %extend_2 {
// 	content: "J\a O\a K\a E\a R";
// 	letter-spacing: 0;
// 	font-size: 0.4rem;
// 	line-height: 0.4rem;
// 	padding: 0.15rem 0.05rem;
// 	width: 0.5rem;
// }


* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	// height: 100%;
	background-color: $color_ocean_green_approx;
	color: $color_mine_shaft_approx;
	font-family: $font_0, $font_1;
	//Instead of the line below you could use @include user-select($select)
	// user-select: none;
	// overflow: hidden;
	// text-size-adjust: 100%;
}
#container {
    position: fixed;
    left: 50%;
	// top: calc(50% +1.5rem);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	// transform: translate3d(-50%, -50%, 0);
}
// #topbar {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	background-color: $color_lunar_green_approx;
// 	padding: 0.25rem;
// 	text-align: center;
// 	button {
// 		background: none;
// 		border: 1px solid $white;
// 		outline: none;
// 		margin: 0.1rem;
// 		padding: 0.4rem;
// 		font: inherit;
// 		font-size: 0.75rem;
// 		line-height: 1;
// 		color: $white;
// 		cursor: pointer;
// 		&:hover {
// 			background-color: $white;
// 			color: $color_tundora_approx;
// 		}
// 	}
// }
// .message {
// 	position: fixed;
// 	top: 2.5rem;
// 	left: 0;
// 	width: 100%;
// 	padding: 1rem 0.5rem;
// 	font-size: 0.5rem;
// 	text-align: center;
// }

// .card {
//     // -webkit-transition: all 0.3s ease;
//     // -moz-transition: all 0.3s ease;
//     // -o-transition: all 0.3s ease;
//     // -ms-transition: all 0.3s ease;
//   }

.card:hover {
    box-shadow: 8px 8px 15px rgba(0,0,0,0.9);
    transform: scale(1.5, 1.5);
    cursor: pointer;
    // -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.9);
    // -webkit-transform: scale(1.5,1.5);
    // -moz-transform: scale(1.5,1.5);
    // -o-transform: scale(1.5,1.5);
    // -ms-transform: scale(1.5,1.5);

  }

.card {
	position: absolute;
	display: inline-block;
    left: -3em;
    // width: 4em;
    width: 5.9em;
	height: 5.5rem;
	background-color: $white;
	border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
	// top: -2.75rem;
    // width: 3.875rem;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    // box-shadow: 0 1px 1px $black_15;
	cursor: default;
	&:before {
		@extend %extend_1;
		top: 0.15rem;
		left: 0;
	}
	&:after {
		@extend %extend_1;
		bottom: 0.1rem;
		right: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(180deg);
	}
	.face {
		height: 100%;
		background-position: 50% 50%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.back {
		position: absolute;
		background-image: $url_0;
		background-position: 50% 50%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&.spades {
		color: $black;
		&.rank1 .face {
			background-image: $url_1;
		}
		&.rank2 .face {
			background-image: $url_2;
		}
		&.rank3 .face {
			background-image: $url_3;
		}
		&.rank4 .face {
			background-image: $url_4;
		}
		&.rank5 .face {
			background-image: $url_5;
		}
		&.rank6 .face {
			background-image: $url_6;
		}
		&.rank7 .face {
			background-image: $url_7;
		}
		&.rank8 .face {
			background-image: $url_8;
		}
		&.rank9 .face {
			background-image: $url_9;
		}
		&.rank10 .face {
			background-image: $url_10;
		}
		&.rank11 .face {
			background-image: $url_11;
		}
		&.rank12 .face {
			background-image: $url_12;
		}
		&.rank13 .face {
			background-image: $url_13;
		}
	}
	&.clubs {
		color: $black;
		&.rank1 .face {
			background-image: $url_27;
		}
		&.rank2 .face {
			background-image: $url_28;
		}
		&.rank3 .face {
			background-image: $url_29;
		}
		&.rank4 .face {
			background-image: $url_30;
		}
		&.rank5 .face {
			background-image: $url_31;
		}
		&.rank6 .face {
			background-image: $url_32;
		}
		&.rank7 .face {
			background-image: $url_33;
		}
		&.rank8 .face {
			background-image: $url_34;
		}
		&.rank9 .face {
			background-image: $url_35;
		}
		&.rank10 .face {
			background-image: $url_36;
		}
		&.rank11 .face {
			background-image: $url_37;
		}
		&.rank12 .face {
			background-image: $url_38;
		}
		&.rank13 .face {
			background-image: $url_39;
		}
	}
	// &.joker {
	// 	color: $black;
	// 	&.rank3 {
	// 		color: $color_guardsman_red_approx;
	// 		&:before {
	// 			@extend %extend_2;
	// 		}
	// 		&:after {
	// 			@extend %extend_2;
	// 		}
	// 		.face {
	// 			background-image: $url_55;
	// 		}
	// 	}
	// 	&.rank1 {
	// 		&:before {
	// 			@extend %extend_2;
	// 		}
	// 		&:after {
	// 			@extend %extend_2;
	// 		}
	// 		.face {
	// 			background-image: $url_53;
	// 		}
	// 	}
	// 	&.rank2 {
	// 		&:before {
	// 			@extend %extend_2;
	// 		}
	// 		&:after {
	// 			@extend %extend_2;
	// 		}
	// 		.face {
	// 			background-image: $url_54;
	// 		}
	// 	}
	// }
	&.hearts {
		color: $color_guardsman_red_approx;
		&.rank1 .face {
			background-image: $url_14;
		}
		&.rank2 .face {
			background-image: $url_15;
		}
		&.rank3 .face {
			background-image: $url_16;
		}
		&.rank4 .face {
			background-image: $url_17;
		}
		&.rank5 .face {
			background-image: $url_18;
		}
		&.rank6 .face {
			background-image: $url_19;
		}
		&.rank7 .face {
			background-image: $url_20;
		}
		&.rank8 .face {
			background-image: $url_21;
		}
		&.rank9 .face {
			background-image: $url_22;
		}
		&.rank10 .face {
			background-image: $url_23;
		}
		&.rank11 .face {
			background-image: $url_24;
		}
		&.rank12 .face {
			background-image: $url_25;
		}
		&.rank13 .face {
			background-image: $url_26;
		}
	}
	&.diamonds {
		color: $color_guardsman_red_approx;
		&.rank1 .face {
			background-image: $url_40;
		}
		&.rank2 .face {
			background-image: $url_41;
		}
		&.rank3 .face {
			background-image: $url_42;
		}
		&.rank4 .face {
			background-image: $url_43;
		}
		&.rank5 .face {
			background-image: $url_44;
		}
		&.rank6 .face {
			background-image: $url_45;
		}
		&.rank7 .face {
			background-image: $url_46;
		}
		&.rank8 .face {
			background-image: $url_47;
		}
		&.rank9 .face {
			background-image: $url_48;
		}
		&.rank10 .face {
			background-image: $url_49;
		}
		&.rank11 .face {
			background-image: $url_50;
		}
		&.rank12 .face {
			background-image: $url_51;
		}
		&.rank13 .face {
			background-image: $url_52;
		}
	}
	&.rank1 {
		&:before {
			content: "A";
		}
		&:after {
			content: "A";
		}
	}
	&.rank2 {
		&:before {
			content: "2";
		}
		&:after {
			content: "2";
		}
	}
	&.rank3 {
		&:before {
			content: "3";
		}
		&:after {
			content: "3";
		}
	}
	&.rank4 {
		&:before {
			content: "4";
		}
		&:after {
			content: "4";
		}
	}
	&.rank5 {
		&:before {
			content: "5";
		}
		&:after {
			content: "5";
		}
	}
	&.rank6 {
		&:before {
			content: "6";
		}
		&:after {
			content: "6";
		}
	}
	&.rank7 {
		&:before {
			content: "7";
		}
		&:after {
			content: "7";
		}
	}
	&.rank8 {
		&:before {
			content: "8";
		}
		&:after {
			content: "8";
		}
	}
	&.rank9 {
		&:before {
			content: "9";
		}
		&:after {
			content: "9";
		}
	}
	&.rank10 {
		&:before {
			content: "10";
		}
		&:after {
			content: "10";
		}
	}
	&.rank11 {
		&:before {
			content: "J";
		}
		&:after {
			content: "J";
		}
	}
	&.rank12 {
		&:before {
			content: "Q";
		}
		&:after {
			content: "Q";
		}
	}
	&.rank13 {
		&:before {
			content: "K";
		}
		&:after {
			content: "K";
		}
	}
}
@media(max-width: 540px) {
	// #topbar {
	// 	text-align: left;
	// }
	// .gh-ribbon {
	// 	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	// 	transform: scale(1.5);
	// 	//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
	// 	transform-origin: 100% 0;
	// }
}
@media(min-width: 0px) {
	html {
		font-size: 130%;
	}
}
