main {
    position: relative;
    width: 55%;
    padding: 10px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 5px;


    div {
        margin: 50px auto;

        &#scoreboard {
            background-color: #5ad75a;
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 200%;
            display: flex;
            justify-content: space-evenly;
        }
    }

}

body {
    background-image: url(/images/cards9.jpg);
    min-height: 100vh;
}



